{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
Cart
{% endblock %}

{% block content %}
  {% if not cart_items %}
    <div class="text-center">
      <br>
      <h1 class="text-center product_title">
        Your shopping cart is empty
      </h1>
      <br>
      <p class="text-center">
        Please click <a href="{% url 'home' %}">here</a> to continue shopping
      </p>
    </div>
  {% else %}
  <div class="text-center">
    <br>
    <div class="text-center product_title">
      Your shopping cart
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
      <table class="table cart_table">
        <thead class="cart_thead">
          <tr>
            <th colspan="4" style="background: #ecdff1">
              Your items
            </th>
          </tr>
        </thead>
        {% for cart_item in cart_items %}
          <tr>
            <td>
              <a href="{{cart_item.product.get_absolute_url}}">
                <img src="{{cart_item.product.image.url}}" width="100" height=auto alt="">
              </a>
            </td>
            <td class="text-left">
              {{cart_item.product.name}}
              <br>
              SKU: {{cart_item.product.id}}
              <br>
              Unit Price: ${{cart_item.product.price}}
              <br>
              Qty: {{cart_item.quantity}} x {{cart_item.product.price}}
            </td>
            <td>
              ${{cart_item.sub_total}}
            </td>
            
            <td>
              {% if cart_item.quantity < cart_item.product.stock %}
              &nbsp;<a href="{% url 'add_cart' cart_item.product.id %}"><i class="fas fa-plus-circle cart_icon"></i></a>
              {% endif %}
              &nbsp;<a href="{% url 'cart_remove' cart_item.product.id %}"><i class="fas fa-minus-circle cart_icon"></i></a>
              &nbsp;<a href="{% url 'cart_remove_product' cart_item.product.id %}"><i class="fas fa-trash-alt cart_icon"></i></a>
            </td>
            
           
          </tr>
        {% endfor %}

      </table>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
      <table class="table cart_table">
        <thead class="cart_thead">
            <tr>
              <th style="background: #ecdff1">
                Check out
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Please review your cart items before proceeding with the payment.
              </td>
            </tr>
            <tr>
              <td class="text-left">
                You have <strong>{{counter}}</strong> in your cart
              </td>
            </tr>
            <tr>
              <td class="text-left">
                Your total is: <strong>${{total}}</strong>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="mx-auto">
          <form class="" action="" method="POST">
            {% csrf_token %}
            <script src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="{{ data_key }}"
            data-amount="{{ stripe_total }}"
            data-name="T-Shop"
            data-description="{{ description }}"
            data-locale="auto"
            data-currency="usd"
            data-shipping-address="true"
            data-billing-address="true"
            data-zip-code="true">
            </script>
          </form>
          <a href="{% url 'home' %}" style="text-decoration: none;">
            <div class="d-grid gap-2">
            <button type="button" class="btn btn-lg btn-block bg-dark text-white">
              Continue Shopping
            </button>
          </div>
          </a>
        </div>
    </div>
    <!-- {% if recommended_products %}
  <div class="container">
    <div class="row" style="padding-top: 30px ;">
     
        <h5>People who bought this also bought:</h5>
        <br><br><br>
    {% for p in recommended_products %}
    {{cart_item.product.name}}
    <div class="col-9 mx-auto col-md-3 col-lg-3">
    <div class="card mb-4 bg-secondary" style="border-color: transparent; width:75%;">
      <div class="p-4">
        <a href="{{ p.get_absolute_url }}">
          <img src="{{ p.image.url }}"  class="card-img-top" alt="{{product.name}}">  
      </div>
      <a href="{{ p.get_absolute_url }}" class="text-decoration-none ">
        <p class="font-weight-italic mb-0 text-center text-dark">
          {{p.name}}
        </p>
      <h5 class="text-info font-italic mb-0 text-center">
        <span class="mr-1">$</span> {{p.price}}
      </h5>    
      </a>
    </div>
  </div>

    {% endfor %}

    
  </div>
</div>
  {% endif %} -->
  </div>
  {% endif %}
{% endblock %}
