{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}
  
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto my-2 text-center">
          <h1 class="text-captitalze font-weight-bold">
            {%if category%}
            {{category.name}}
            {%else%}
            All Products
            {%endif%}
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% for product in products %}
      <div class="col-9 mx-auto col-md-6 col-lg-3">
        <div class="card mb-4" style="border-color: transparent;">
          <div class="p-4">
            <a href="{{product.get_absolute_url}}">
              <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}">
            </a>
          </div>
          <p class="font-weight-bold mb-0 text-center">
              {{product.name}}
            </p>
          <h5 class="text-info font-italic mb-0 text-center">
            <span class="mr-1">$</span> {{product.price}}
          </h5>
        </div>
      </div>
      {% endfor %}
      <div class="pagination ">
        <span class="step-links">
          <h5>
            {% if products.has_previous %}
                <a href="?page={{ products.previous_page_number }}"><i class="fas fa-backward "></i></a>
            {% endif %}
                <span class="current">
                    Page {{ products.number }} of {{ products.paginator.num_pages }}.
                </span>
            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}"><i class="fas fa-forward "></i></a>
            {% endif %}
          </h5>
        </span>
    </div>
    
    </div>
    <br>
  </div>
{% endblock %}
