{% extends 'shop/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Product
{% endblock %}

{% block content %}
<div class="container ">
  <div class="row mt-2 ">
    <div class="col-md-1" id="img234">
      {% if product.image2 %}
      <div>
        <a href="{{ product.image2.url }}" data-lightbox="home-images">
          <img src="{{ product.image2.url}}" alt="" class="img-fluid">
        </a>
      </div>
    {% endif %}
    <br>
    {% if product.image3 %}
      <div >
        <a href="{{ product.image3.url }}" data-lightbox="home-images">
          <img src="{{ product.image3.url}}" alt="" class="img-fluid">
        </a>
      </div>
    {% endif %} 
    <br>   
    {% if product.image4 %}
      <div >
        <a href="{{ product.image4.url }}" data-lightbox="home-images">
          <img src="{{ product.image4.url}}" alt="" class="img-fluid">
        </a>
      </div>
    {% endif %}
    </div>
    <div class="col-10 mx-auto col-md-5 my-3">
      <a href="{{ product.image.url }}" data-lightbox="home-images">
        <img src="{{ product.image.url}}" alt="" class="img-fluid">
      </a>
    </div>
    
    <div class="col-9 mx-auto col-md-6 my-3">
      <div>
        <h1 class="product_title">{{product.name}}</h1>
        <h5 class="text-info font-italic mb-3">
          <span class="mr-1">$</span> {{product.price}}
        </h5>
        <p class="product_description">Product Description</p>
        <p class="text-justify product_text">{{product.description}}</p>
        {% if product.stock <= 0 %}
        <p class="text-justify product_text"><b>Out of Stock</b></p>
        {% else %}
        <a href="{% url 'add_cart' product.id %}">
          <button type="button" name="button" class="btn btn-secondary">
            Add to Cart
          </button>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header">
      <h4>Reviews</h4>
    </div>
    {% if user.is_authenticated %}
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-comment text-dark mt-4 mb-4"></i></span>
            </div>
            {% render_field form.content rows="" class="form-control" placeholder="write your review"  %}
          </div>
        </div>
        <br>
        <div class="form-group">
        <button type="submit" class="btn btn-success" style="width: 100px;">Post</button>
        </div>
      </form>
    </div>
    {% endif %}
    {% if reviews.count > 0 %}
    <ul class="list-group list-group-flush">
     {% for review in reviews %}
         <li class="list-group-item"> <h5>{{review.user.username}}</h5>
         <p class="card-text">{{review.content}}</p>
         {% if user.is_authenticated %}
         <a href="{{review.get_absolute_url}}"><i class="fas fa-edit"></i></a>
         <a href="{% url 'remove_review' review.product.category.slug review.product.slug review.id %}"><i class="fas fa-trash-alt"></i></a>
         <i><h6 class="text-secondary" id="dateadd" >{{review.date_added}}</h6></i>
         {% endif %}
         </li>
     {% endfor %}
   </ul>
    {% endif %} 
  </div>
</div>

{% endblock %}
